.App {
  /* text-align: center; */
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: white;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 20px;
}

.subcontainer {
  flex: 1;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

html {
  font-family: Arial, sans-serif;
  /* margin: auto; */
  background-image: url("assets/img/joshua-sortino-LqKhnDzSF-8-unsplash.jpg");
  /* background-attachment: fixed;
  background-position: 0px 0px; */
  background-size: cover;
}

.resizable {
  overflow: auto;
  resize: both;
  height: 400px;
  width: auto;
  padding: 20px;
}

.ace-editor {
  border-radius: 5px;
}

.button {
  display: inline-block;
  background-color: lightsalmon;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
  background-color: orange;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.green {
  color: green;
}

.red {
  color: red;
}

.time {
  color: orange;
  background-color: white;
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
